# ==========================
# Ambiente Virtual
# ==========================
venv/
env/
.venv/

# ==========================
# Cache do Python
# ==========================
__pycache__/
*.py[cod]
*.pyc
*.pyo

# ==========================
# Banco de Dados
# ==========================
db.sqlite3

# ==========================
# Arquivos de Mídia
# ==========================
media/

# ==========================
# Arquivos Estáticos Gerados
# ==========================
staticfiles/

# ==========================
# Configurações do VS Code
# ==========================
.vscode/
.history/

# ==========================
# Variáveis de Ambiente
# ==========================
.env
.python-version

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build e Distribuição
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Arquivos do Sistema
# ==========================
.DS_Store
Thumbs.db