<div class="col-md-2 bg-dark text-white min-vh-100 p-3">

    <div class="list-group list-group-flush">

        <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-dark text-white border-secondary">

            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard

        </a>

        <a href="{% url 'lista_alunos' %}" class="list-group-item list-group-item-action bg-dark text-white border-secondary">

            <i class="bi bi-people-fill me-2"></i>
            Alunos

        </a>

        <a href="{% url 'lista_pacotes' %}" class="list-group-item list-group-item-action bg-dark text-white border-secondary">

            <i class="bi bi-clipboard-check me-2"></i>
            Pacotes

        </a>

        <a href="{% url 'lista_registros' %}" class="list-group-item list-group-item-action bg-dark text-white border-secondary">

            <i class="bi bi-clock-history me-2"></i>
            Histórico

        </a>

    </div>

</div>